<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-primary shadow h-auto py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-0 image-block">
                    <img style="width:100%" src=>
                    <div class="blank"></div>
                    <div class="description">
                        <div class="align-text-top" style="margin-bottom: 20px"><b></b> </div>
                        <div class="align-text-top"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex ">
                    <button class="btn btn-primary" style="margin-right: 50px; margin-top: 5px"></button>
                    <button class="btn btn-danger" style="margin-left: 54px; margin-top: 5px"></button>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>
